/* media queries for tablet version */
@media (min-width: 650px) {
  body {
    background-color: #8bb8e8;
  }

  header {
    font-size: 35px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1200px) {
    body {
      background-color: white;
    }
  
    header {
      font-size: 55px;
      height: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .container {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      padding-left: 10px;
      padding-right: 10px;
    }